* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background: url(assets/freedom.jpg) no-repeat center;
  width: 100%;
  height: 100vh;
  display: block;
  background-size: cover;
}

.wrapper {
  padding-top: 2.5rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.2rem;
}

.name {
  font-size: 1rem;
  font-family: 'Crimson Text', serif;
  font-style: italic;
}

@media (min-width: 768px) {
  .quote {
    font-size: 2rem;
  }
  .name {
    font-size: 1.5rem
  }
}

@media (min-width: 1024px) {
  .quote {
    font-size: 2.5rem
  }
  .wrapper {
    padding-top: 5rem;
    width: 70%
  }
}

.lang-nav {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 0;
  margin-bottom: 10px
}

.lang-nav a {
  display: inline-block;
  text-decoration: none;
  color: darkorange;
  padding: 0.5rem;
  font-weight: 900;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 20px;
}

.lang-nav a:hover {
  background-color: hsla(0, 0%, 0%, 0);
  color: black;
}